.steps{
  padding: 30px;
  min-height: 200px;
}

/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}
/* colors */
.red {
  background: lightsalmon;
}
/* blue tem que estar depois se este for o que depender da etapa */
.blue{
  background: lightblue;
}

#steps-indicator{
  margin: auto;
  width: 90vh;
  display: flex;
  justify-content: space-around;

 
}
.stepTitle{
  padding: 0 30px;
  border-radius: 10px;
  
}

#paperSelectors {
  margin: auto;
  width: 90vh;
  display: flex;
  justify-content: space-between;
}

#btns{
  margin: auto;
    width: 30vh;
    display: flex;
    justify-content: space-around;
}
