.steps{
  padding: 30px;
}

/* hide content */
.content {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}
/* colors */
.blue{
  background: lightblue;
}
.red{
  background: lightsalmon;
}
